.container{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.blogPost{
    width: 70%;
    background: #ffffff;
    border: 1px solid;
    border-radius: 5px;
}

.blogPost img{
    box-sizing: border-box;
    padding: 12px;
    width: 100%;
}

.sidebar{
    width: 28%;
    border: 1px solid;
    border-radius: 5px;
}