.card{
    background-color: #fff;
    border-radius: 5px;
}

.logo{
    text-align: center;
    padding: 50px 0;
}

.logo a{
    font-family: 'Dancing Script', cursive;
    text-decoration: none;
    font-weight: bold;
    font-size: 50px;
    color: #333;
    text-transform: uppercase;
}