.header{
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.headermenu a{
    display: inline-block;
    margin: 0 8px;
    text-decoration: none;
    color: #565673;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1px;
    
}

.headermenu :hover{
    color: #5f9ea0;
}